.home-carrousel-container{
    margin-bottom: 45px;
   .home-carrousel-title-container{
        padding-left: 80px;
        padding-right: 80px;
        display: flex;
        flex-flow: row;

        h2{
            margin: 0 0 10px 0 ;
            font-weight: 500;
        }

        a{
            margin-left: auto;
            text-decoration: none;
            color: #65b0fd !important;
            align-content: end;
        }
   }

   .home-carrousel{
    .home-carrouse-item-container{

        a{
            text-decoration: none;
        }

        .home-carrousel-item-image-container{
            height: 280px;
            overflow: hidden;
            border-radius: 10px;
            .home-carrousel-item-image{
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                transition: all .4s;
            }

            &:hover{
                .home-carrousel-item-image{
                    transform: scale(1.2);
                }
            }
        }
        .home-carrousel-item-text{
            margin-top: 5px;
            font-size: 19px;
            color: black;
        }
    }
   }
}