.new-main-container{
    height: calc(90vh - $menuHeight);

    display: flex;
    flex-flow: row;

    .left-container{
        width: 25%;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-flow: column;

        .left-content{
            margin: auto;
            text-align: center;

            h3{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -moz-box-orient: vertical;
                overflow: hidden;
                color: white;
                font-size: 2.25rem;
                font-weight: 500;
                margin-bottom: 16px;
                padding: 0 15px;
                line-height: 48px;
            }

            p{
                color: white;
                font-size: 18px;
                padding-bottom: 32px;
            }

            a{
                background-color: rgb(10, 132, 255);
                padding: 8px 48px;
                border-radius: 30px;
                font-size: 16px;
                color: white;
                text-decoration: none;
            }
        }

    }

    .right-container{
        width: 75%;
    }

    #News-splide{

        .splide__arrow[disabled]{
            display: none;
        }

        .splide__slide{
            .splide-item-container{
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center;
                display: flex;

                .splide-item-text{
                    margin-top: auto;
                    background-image: linear-gradient(1turn,#03122b,#03122b00 90%);
                    padding-left: 30px;
                    padding-right: 30px;
                    padding-bottom: 15px;


                    *{
                        color: white;
                    }

                    .subtitle{
                        font-size: 1rem;
                        margin-bottom: 8px;
                    }

                    h5{
                        margin-top: 0;
                        font-size: 20px;
                        margin-bottom: 8px;
                        font-weight: 500;
                    }

                    p{
                        font-size: 14px;
                        margin-bottom: 30px;
                        margin-top: 0;
                    }
                }
            }

        }
    }
}